/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/*-------------------------  ------------------------- */
/*------------------------- fonts ------------------------- */
@font-face { font-family: ProximaNova-Reg; src: url("fonts/ProximaNova-Reg.eot"); src: url("fonts/ProximaNova-Reg.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Reg.woff") format("woff"), url("fonts/ProximaNova-Reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: ProximaNova-Bold; src: url("fonts/ProximaNova-Bold.eot"); src: url("fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BlissPro-Regular; src: url("fonts/BlissPro-Regular.eot"); src: url("fonts/BlissPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro-Regular.woff") format("woff"), url("fonts/BlissPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BlissPro-Heavy; src: url("fonts/BlissPro-Heavy.eot"); src: url("fonts/BlissPro-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/BlissPro-Heavy.woff") format("woff"), url("fonts/BlissPro-Heavy.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/*------------------------- general ------------------------- */
body { font-size: 14px; line-height: 1.2; font-family: "ProximaNova-Reg", arial, sans-serif; }
body.two-coll .last-news_list { margin-right: -30px; }
body.two-coll .last-news_list .meta { margin-right: 30px; }
body.two-coll .last-news_list ul { margin-right: 30px; width: 470px; float: left; }
body.two-coll .last-news_list .preview_mod { margin-bottom: 50px; }
body.two-coll .last-news_list .preview__media { width: 130px; height: 80px; float: left; margin-right: 17px; }
body.two-coll .last-news_list .last-news__media_big { width: auto; max-width: 470px; height: inherit; margin-bottom: 20px; }
@media only screen and (max-width: 1250px) { body .l-page { width: 935px; }
  body .out { width: 945px; }
  body .header__left { width: 240px; }
  body .header__center { margin: 0 265px 0 240px; }
  body .header__search .header__search-form input { width: 530px; }
  body .l-page { width: 635px; }
  body .interview .l-col-1, body .interview .l-col-2 { width: 630px; }
  body .interview .preview__media { width: 128px; height: 78px; float: left; margin-right: 20px; }
  body .archive .l-col-1, body .archive .l-col-2 { width: 630px; }
  body .footer__logo li.footer__logo-5 { margin-left: 100px; }
  body .footer__copy { width: 650px; }
  body .header__news-item_last { display: none; }
  body.two-coll .last-news_list ul { width: 300px; } }

.out { width: 1235px; margin: 0 auto; }

.wrap { padding: 50px 0; border-bottom: 3px solid #979797; overflow: hidden; }

.wrap_mod { border-bottom: none; }

.title { text-transform: uppercase; font-size: 18px; color: #e1001b; font-family: "ProximaNova-Bold", arial, sans-serif; }
.title a { font-size: 18px; color: #e1001b; text-decoration: none; font-family: "ProximaNova-Bold", arial, sans-serif; }

.title-black { text-transform: uppercase; text-decoration: underline; font-size: 18px; color: black; font-family: "ProximaNova-Bold", arial, sans-serif; }
.title-black:hover { text-decoration: none; }

/*------------------------- header & topper ------------------------- */
.header { padding: 19px 0 31px; border-bottom: 2px solid #979797; position: relative; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header.is-search .header__search { display: block; }
.header .date { margin-bottom: 5px; }
.header .pda { margin-bottom: 25px; }

.header__left { width: 280px; float: left; }

.header__right { width: 265px; float: right; }
.header__right .lang { margin-bottom: 25px; }

.header__search { display: none; padding: 50px 0 0; height: 78px; margin-bottom: 15px; position: absolute; z-index: 666; top: 0px; left: 0; right: 0px; background: white; }
.header__search .header__search-row { line-height: 28px; }
.header__search .header__search-title { margin-right: 10px; text-transform: uppercase; font-size: 18px; float: left; font-family: "ProximaNova-Bold", arial, sans-serif; }
.header__search .header__search-form { overflow: hidden; }
.header__search .header__search-form input { width: 821px; height: 30px; padding: 3px 10px; border: 1px solid #979797; font-size: 14px; color: black; font-family: "ProximaNova-Reg", arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__search .header__search-form .header__search-btn { width: 86px; height: 30px; padding: 3px 20px; background: #e1001b; color: white; text-transform: uppercase; vertical-align: top; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; font-family: "ProximaNova-Bold", arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__search .header__search-form .header__search-btn:active { -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); transform: scale(0.95); -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.header__search .header__search-form .header__search-all { color: black; font-size: 14px; text-decoration: none; margin-left: 15px; font-family: "ProximaNova-Reg", arial, sans-serif; }
.header__search .header__search-form .header__search-all:after { content: ""; margin-left: 5px; display: inline-block; background: url('../img/icons-s5a49304e16.png') 0 -92px no-repeat; width: 9px; height: 7px; }
.header__search .header__search-form .header__search-all:hover { text-decoration: underline; }
.header__search .header__search-close { margin-left: 75px; float: right; font-size: 14px; color: black; text-transform: uppercase; text-decoration: underline; position: relative; font-family: "ProximaNova-Bold", arial, sans-serif; }
.header__search .header__search-close:after { content: ""; display: inline-block; vertical-align: middle; margin-left: 5px; background: url('../img/icons-s5a49304e16.png') 0 -157px no-repeat; width: 9px; height: 9px; }

.header__right-label { margin-top: 25px; text-align: right; }
.header__right-label a { margin-left: 30px; font-size: 14px; text-transform: uppercase; color: black; font-family: "ProximaNova-Bold", arial, sans-serif; }
.header__right-label a:hover { text-decoration: none; }
.header__right-label a:active { color: #e0001b; }
.header__right-label a:first-child { margin-left: 0; }

.header__center { margin: 0 265px 0 280px; overflow: hidden; }

.logo { display: inline-block; background: url('../img/icons-s5a49304e16.png') 0 0 no-repeat; width: 186px; height: 49px; font: 0/0 a; text-shadow: none; color: transparent; }

.header__news { margin-top: 25px; margin-left: -33px; *zoom: 1; }
.header__news:after { content: " "; display: table; clear: both; }

.header__news-item { width: 199px; margin-left: 33px; float: left; text-decoration: none; font-size: 14px; color: black; font-family: "ProximaNova-Bold", arial, sans-serif; }
.header__news-item:hover { color: #e1001b; }

/*------------------------- footer ------------------------- */
.footer { padding: 40px 0 0; margin-top: 49px; border-top: 2px solid #979797; }

.footer__logo ul { *zoom: 1; }
.footer__logo ul:after { content: " "; display: table; clear: both; }
.footer__logo li { float: left; margin-left: 135px; }
.footer__logo li:first-child { margin-left: 0; }
.footer__logo li.footer__logo-1 { margin-left: 18px; margin-top: 10px; }
.footer__logo li.footer__logo-2, .footer__logo li.footer__logo-3 { margin-top: 10px; }
.footer__logo li.footer__logo-5 { margin-top: 11px; margin-left: 133px; }
.footer__logo li.footer__logo-6 { margin-top: 20px; margin-left: 142px; }

.footer__cat { margin-top: 30px; padding: 18px 0; border-top: 1px solid #979797; border-bottom: 1px solid #979797; }
.footer__cat a { margin-right: 14px; text-transform: uppercase; line-height: 1.6; font-size: 14px; color: black; text-decoration: none; position: relative; font-family: "ProximaNova-Bold", arial, sans-serif; }
.footer__cat a:before { content: ""; width: 4px; height: 4px; background: black; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; position: absolute; right: -10px; top: 7px; }
.footer__cat a:hover { color: #e1001b; }

.footer__bottom { padding: 28px 0 43px; *zoom: 1; }
.footer__bottom:after { content: " "; display: table; clear: both; }
.footer__bottom .footer__stat { float: left; }
.footer__bottom .footer__copy { display: inline-block; float: right; }
.footer__bottom .footer__copy a { color: #eb1c23; text-decoration: underline; }
.footer__bottom .footer__copy a:hover { text-decoration: none; }

/*------------------------- block ------------------------- */
.date { text-transform: uppercase; color: #979797; font-size: 10px; }

.time { font-size: 14px; color: black; font-family: "BlissPro-Heavy", arial, sans-serif; }

.num { font-size: 14px; color: #e1001b; font-family: "ProximaNova-Bold", arial, sans-serif; }

.pda { font-size: 12px; color: black; }

.lang { font-size: 12px; text-align: right; }
.lang a { color: #a7a7a7; text-decoration: none; }
.lang a:hover { color: #e1001b; text-decoration: none; }
.lang.is-hide a { font-size: 0; }
.lang .is-active { color: black; text-decoration: underline; }

.preview__media { width: 450px; height: 280px; overflow: hidden; margin-bottom: 15px; position: relative; }
.preview__media img { max-width: 100%; display: block; }
.preview__media .i-play { position: absolute; bottom: 0; right: 0; }

.preview__title { margin-bottom: 13px; font-size: 24px; color: #010101; text-decoration: none; }
.preview__title:hover { color: #e1001b; }
.preview__title a { font-size: 24px; color: #010101; text-decoration: none; font-family: "ProximaNova-Bold", arial, sans-serif; }
.preview__title a:hover { color: #e1001b; }
.preview__title .preview__title-time { margin-right: 5px; font-size: 18px; font-family: "BlissPro-Heavy", arial, sans-serif; }
.preview__title .preview__title-num { font-size: 18px; font-family: "BlissPro-Heavy", arial, sans-serif; }

.preview_mod .preview__title { color: #010101; font-size: 18px; font-family: "ProximaNova-Bold", arial, sans-serif; }
.preview_mod .preview__title:hover { color: #e1001b; }
.preview_mod .preview__title a { color: #010101; font-size: 18px; }
.preview_mod .preview__title a:hover { color: #e1001b; }
.preview_mod .preview__title-time { font-size: 16px; font-weight: normal; font-family: "BlissPro-Regular", arial, sans-serif; }
.preview_mod .preview__title-num { margin-left: 5px; font-size: 16px; color: #e1001b; font-family: "BlissPro-Heavy", arial, sans-serif; }

.nav { *zoom: 1; }
.nav:after { content: " "; display: table; clear: both; }
.nav a { margin-left: 15px; padding: 2px 5px; float: left; text-transform: uppercase; text-decoration: none; font-size: 14px; color: black; border: 2px solid transparent; font-family: "ProximaNova-Bold", arial, sans-serif; }
.nav a:hover { color: #e1001b; }
.nav a:first-child { margin-left: 0; }
.nav a.is-active { border: 2px solid #e1001b; }

.primary-news { padding-bottom: 63px; *zoom: 1; overflow: hidden; }
.primary-news:after { content: " "; display: table; clear: both; }

.news li { margin-top: 30px; }
.news a { font-size: 16px; text-decoration: none; color: black; }
.news a:hover { color: #e1001b; }
.news a:hover .time { color: #e1001b; }
.news .time { margin-right: 7px; font-size: 14px; }
.news .num { margin-left: 5px; }

.news__prev { float: left; clear: both; margin-top: 40px; display: inline-block; padding: 0px 5px; text-transform: uppercase; text-decoration: none; font-size: 14px; color: black; border: 2px solid black; font-family: "ProximaNova-Bold", arial, sans-serif; }
.news__prev:hover { border-color: #e1001b; color: #e1001b; }
.news__prev:hover .i-arr { background: url('../img/icons-s5a49304e16.png') 0 -139px no-repeat; width: 12px; height: 8px; }
.news__prev .i-arr { margin-right: 10px; vertical-align: middle; }
.news__prev span { display: inline-block; vertical-align: middle; }

.last-news { font-size: 14px; color: #010101; }
.last-news .title-black { float: right; }
.last-news li { margin-top: 45px; *zoom: 1; }
.last-news li:after { content: " "; display: table; clear: both; }
.last-news li a { display: block; font-size: 18px; color: black; text-decoration: none; font-family: "ProximaNova-Bold", arial, sans-serif; }
.last-news li a:hover { color: #e1001b; }
.last-news li .last-news__date { margin-right: 5px; font-size: 16px; font-family: "BlissPro-Regular", arial, sans-serif; }
.last-news li .last-news__num { font-size: 14px; color: #e1001b; font-family: "BlissPro-Heavy", arial, sans-serif; }
.last-news li .last-news__media { float: left; margin-right: 15px; }

.archive .title-black { float: right; }

.last-news_mod li:first-child { margin-top: 0; }

.meta { overflow: hidden; }
.meta .title { float: left; }

.last-news__media { width: 128px; height: 78px; border: 1px solid #f3f3f3; overflow: hidden; position: relative; }
.last-news__media img { display: block; width: 100%; }
.last-news__media .i-play { position: absolute; bottom: 0; right: 0; }

.interview .meta { margin-bottom: 45px; }

.i-arr { display: inline-block; background: url('../img/icons-s5a49304e16.png') 0 -176px no-repeat; width: 12px; height: 8px; }

.i-play { display: inline-block; background: url('../img/icons-s5a49304e16.png') 0 -59px no-repeat; width: 23px; height: 23px; }

.sidebar-in .title { margin-bottom: 25px; }

.media__item { margin-bottom: 30px; }

.media__img { width: 215px; height: 133px; margin-bottom: 10px; overflow: hidden; position: relative; }
.media__img img { max-width: 100%; }
.media__img .i-play { position: absolute; right: 0; bottom: 0; }

.media__title { margin-bottom: 5px; font-size: 16px; color: black; text-decoration: none; font-family: "ProximaNova-Bold", arial, sans-serif; }
.media__title:hover { text-decoration: underline; }
.media__title a { font-size: 16px; color: black; text-decoration: none; font-family: "ProximaNova-Bold", arial, sans-serif; }
.media__title a:hover { text-decoration: underline; }

.media__date { font-size: 12px; color: #979797; }

.block-wrap { margin-bottom: 50px; }

.block { margin-bottom: 20px; padding: 20px; border: 1px solid #979797; }
.block li { margin-bottom: 10px; font-size: 14px; }
.block .block__1 { width: 75px; display: inline-block; }
.block .block__2 { font-family: "ProximaNova-Bold", arial, sans-serif; }
.block .block__3 { color: #979797; font-family: "ProximaNova-Bold", arial, sans-serif; }

.block__title { margin-bottom: 25px; text-transform: uppercase; color: black; }
.block__title a { text-decoration: underline; color: black; }
.block__title a:hover { text-decoration: none; }

.block_mod { *zoom: 1; }
.block_mod:after { content: " "; display: table; clear: both; }
.block_mod li { overflow: hidden; margin-bottom: 12px; }
.block_mod .block__1 { width: 50%; float: left; color: black; font-family: "ProximaNova-Reg", arial, sans-serif; }
.block_mod .block__2 { width: 50%; float: left; color: black; font-family: "ProximaNova-Reg", arial, sans-serif; }

.opinion__item { margin-bottom: 25px; font-family: "ProximaNova-Bold", arial, sans-serif; }

.opinion__title { margin-bottom: 5px; color: black; text-decoration: none; font-weight: normal; font-family: "ProximaNova-Reg", arial, sans-serif; }
.opinion__title:hover { color: #e1001b; }
.opinion__title a { text-decoration: none; color: black; font-size: 16px; }
.opinion__title a:hover { color: #e1001b; }

.opinion__name { color: #979797; font-size: 12px; font-family: "BlissPro-Regular", arial, sans-serif; }

.l { width: 970px; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }

.l-page { float: left; width: 970px; *zoom: 1; }
.l-page:after { content: " "; display: table; clear: both; }

.l-col-1 { width: 479px; float: left; }

.l-col-2 { width: 458px; float: right; }

.l-sidebar { width: 220px; padding-top: 50px; float: right; }

.wrap-sidebar { *zoom: 1; float: right; }
.wrap-sidebar:after { content: " "; display: table; clear: both; }

.primary-news { float: left; }
